 <!-- <form class="example-form">
   <mat-label>Login</mat-label>
   <section>
     <mat-form-field class="example-full-width" appearance="fill">
       <div>Email</div>
       <input matInput type="email" formControl="emailFormControl">
       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
         Please enter a valid email address
       </mat-error>
       <mat-error *ngIf="emailFormControl.hasError('required')">
         Email is <strong>required</strong>
       </mat-error>
     </mat-form-field>

     <mat-form-field class="example-full-width" appearance="fill">
       <div>Password</div>
       <input matInput type="password" formControl="passwordFormControl">
       <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
         Email is <strong>required</strong>
       </mat-error>
     </mat-form-field>
   </section>
   <div>
     <section>
       <div class="example-button-row example-label">
         <button (click)="loginWithGoogle()" mat-raised-button color="accent"
           class=" google-login-btn buttonClass">Google</button>
       </div>
     </section>
   </div>
 </form> -->

 <div>Email</div>
 <input matInput type="email">

 <div>Password</div>
 <input matInput type="password">

 <div>
   <button type="submit" mat-raised-button color="accent" (click)="loginWithGoogle()">Google</button>

 </div>
